{% extends 'base.html' %} 
{% block content %}

  {% if user.is_authenticated %}

 
  <table class="table table-hover table-bordered ">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Created_At</th>
      </tr>
    </thead>
    <tbody>
      
        {% if records %}
        {% for record in records %}
        <tr>
            <td>{{ record.first_name }}
                {{ record.last_name }}</td>
              <td>{{ record.email }}</td>
              <td>{{ record.phone }}</td>
              <td>{{ record.created_at}}</td>
            <br/><br/>
        </tr>
        {% endfor %}
   
     {% endif %}   

      </tr>
    </tbody>
  </table>



  
  {% else %}

  <h1>Login</h1>
  <br />

  <form method="POST" action="{% url 'home' %}">
	{% csrf_token %}

   <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    
   </div><br/>
   <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
   </div>
   <br/>
   <button type="submit" class="btn btn-secondary">Login</button>

  </form>


{% endif %}


{% endblock %}
